<mat-list>
  <h3 mat-subheader>Folders</h3>
  <mat-list-item *ngFor="let folder of folders; last as last">
     <mat-icon mat-list-icon>folder</mat-icon>
     <h4 mat-line>ola mundo</h4>
     <p mat-line class="demo-2">sua irma </p>
     <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let note of notes">
     <mat-icon mat-list-icon>palhaça</mat-icon>
     <h4 mat-line>mamou aqui</h4>
     <p mat-line class="demo-2"> trouxa </p>
  </mat-list-item>
</mat-list>
